* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background: #f4f6f6;
    height: 4rem;
    border-bottom: 1px solid #f2f3f4;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.portfolio-img {
    width: 4rem;
    height: 3rem;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222;
}

.portfolio-title {
    font-size: 1.25rem;
}

.menu-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
}

.menu-items > li a {
    text-decoration: none;
    color: rgba(27, 13, 13, 0.799);
    transition: all 0.3s ease-in-out;
}

.menu-items > li a:hover {
    color: orangered;
}

.hero {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.hero-left {
    width: 75%;
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: end;
    width: 25%;
}

.hero-right-imag {
    width: 15rem;
    height: 12rem;
    border-radius: 0.5rem;
}

.hero-left-title {
    font-size: 2rem;
    color: rgb(161, 90, 38);
}

.social-icons-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 1rem;
}

.hero-description {
    line-height: normal;
    margin-top: 1rem;
}

.social-icons-item > li {
    list-style-type: none;
    padding: 0.5rem;
    transition: all 0.5s ease-in-out;
}

.social-icons-item > li a {
    text-decoration: none;
    color: orangered;
}

.social-icons-item > li:hover {
    background: rgb(231, 118, 73);
    color: #fff !important;
    transform: scale(1.01);
    border: 1px solid rgb(145, 124, 159);
    border-radius: 0.2rem;
}
.social-icons-item > li:hover a {
    columns: #fff;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .portfolio-title {
        display: none;
    }
 .hero {
    flex-direction: column;
 }

 .hero-left,
 .hero-right {
    width: 100%;
 }

     .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .menu.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .menu-items {
        flex-direction: column;
    }

    .menu-items li {
        margin: 15px 0;
    }
}

@media only screen and (max-width: 480px) {
    .nav {
        width: 100% !important;
        padding: 0.25rem;
    }

    .menu-items >li a {
        font-size: 12px;
    }

    .portfolio-img {
        width: 3rem;
        height: 2rem;
    }
}


